@import '../bower_components/skeleton/css/normalize';
@import '../bower_components/skeleton/css/skeleton';

@import 'navbar';

@import 'default';
@import 'component';

body {
	background: rgba(black,0.1);
}

.form-column {
	margin: 0 auto !important;
	float: none !important;
}

label {
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 22px;
	margin: 1em 0 0 0;
}